.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
}

.login{
	grid-column-start: 2; 
    grid-column-end: 3; 
    text-align: center;
}

.field{
	padding: 10px;
}

.field input {
	padding: 10px;
	border: 1px solid #ececec;
	border-radius: 5px;
	font-size: 14px;
}

.errors{
	color: red;
	font-size: 14px;
}